* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #000;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Work Sans', 'Arial', 'sans-serif';
}

.main-container {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .3), rgb(0, 0, 0, .7)), url(img/bg-image-2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgb(0, 0, 0, .7)), url(img/bg-image-2.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    position: relative;
}

.success-container {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .3), rgb(0, 0, 0, .7)), url(img/bg-image-2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgb(0, 0, 0, .7)), url(img/bg-image-2.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    position: relative;
}

.main-wraper {
    width: 90%;
    height: 100%;
    margin-left: 70px;
    text-align: center;
}

.success-main-wraper {
    width: 90%;
    height: 100vh;
    background-color: #ccc;
    margin-left: 70px;
    text-align: center;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix {
    zoom: 1S;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
}


/*** BUTTONS ***/

input[type=submit] {
    text-decoration: none;
    background-color: #a1a096;
    color: #fff;
    padding: 10px 30px;
    border-radius: 200px;
    font-weight: 400;
}

input[type=submit]:hover,
input[type=submit]:active {
    background: transparent;
    color: #2e1b11;
}

input[type=submit] {
    cursor: pointer;
}

.toggle-btn {
    position: absolute;
    top: 30%;
    right: 3%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.back-btn {
    margin: 20px 0 20px 0;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.back-btn:link,
.back-btn:visited {
    color: #fff;
}

.back-btn:hover,
.back-btn:active {
    color: #888;
}


/*** HEADINGS SECTION ***/

h1 {
    font-size: 500%;
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
}

h2 {
    font-size: 200%;
    color: #fff;
    font-weight: 400;
}


/*** HEADER SECTION ***/

header {
    height: 100vh;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .3), rgb(0, 0, 0, .8)), url(img/header-image-1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgb(0, 0, 0, .8)), url(img/header-image-1.jpg);
    background-color: #f4f4f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.header-textbox {
    width: 60%;
    position: relative;
    float: left;
    font-family: sans-serif;
    margin: 20% 5%;
    text-align: justify;
}

.header-para {
    width: 55%;
    float: left;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.home-1 {
    color: #ccc;
    font-size: 120%;
    margin-right: 10%;
}

.home-1:after {
    display: block;
    height: 2px;
    width: 150px;
    background-color: #043657;
    content: " ";
    margin: 20px auto 0 0;
}


/*** NAV AND LOGO ***/

.nav {
    background-color: #42423d;
    height: 85px;
    padding: 5px;
}

.main-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    float: right;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-right: 40px;
    text-transform: uppercase;
    color: #11222e;
    font-weight: 400;
}

.main-nav .fa {
    margin-right: 8px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #043657;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.logo-small {
    height: 70px;
    width: auto;
    margin-left: 15px;
    margin-top: 3px;
    float: left;
}

.sticky-nav {
    position: fixed;
    background-color: #42423d;
    width: 90%;
    height: 85px;
    padding: 5px;
    box-shadow: 0 2px 2px #efefef;
    z-index: 1;
}

.sticky-nav .main-nav {
    margin-top: 30px;
}

.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited {
    color: #fff;
}


/*** ABOUT SECTION ***/

.about-section {
    height: 100%;
    padding-bottom: 20px;
    background-color: #fff;
}

.contract-image {
    width: 80%;
    border-radius: 20px;
    margin-right: 40px;
}

.about-heading {
    color: #000;
    font-size: 250%;
    font-weight: 500;
    margin-bottom: 50px;
}

.about-para {
    color: #000;
    margin-bottom: 30px;
    line-height: 1.5;
}

.about-box {
    margin-top: 100px;
}

.about-box:first-child {
    text-align: left;
    padding: 0 5%;
}

.about-box:last-child {
    text-align: right;
}


/*** TEAM SECTION ***/

.team-section {
    background-color: #e6e6e6;
}

.team-box {
    width: 90%;
    height: 300px;
    background-color: #ccc;
    margin-left: 5%;
    margin-bottom: 20px;
    padding: 1% 5%;
    display: flex;
    position: relative;
}

.first-box {
    margin-left: 5% !important;
}

.team-box:last-child {
    text-align: center;
    margin-bottom: 60px;
}

.team-img-wraper {
    width: 40%;
    margin-left: 0;
}

.team-img-wraper img {
    width: 75%;
    height: auto;
    padding: 5%;
}

.team-bio {
    width: 60%;
    float: left;
}

.section-heading {
    font-size: 250%;
    color: #000;
    margin-bottom: 20px;
    margin-top: 100px;
}

.section-sub-heading {
    font-size: 150%;
    color: #555;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 1.5;
}

.section-sub-heading:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #25112e;
    content: " ";
    margin: 30px auto 0 auto;
}

.team-heading {
    font-size: 150%;
    margin: 20px;
    font-weight: 400;
    text-align: center;
}

.team-para {
    color: #555;
    font-size: 90%;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5;
}


/*** NEWS SECTION ***/

.news-section {
    background-color: #fff;
}

.news-heading {
    color: #000;
    margin-bottom: 10px;
}

.news-box {
    width: 30%;
    text-align: center;
    background-color: #ccc;
    margin-left: 5% !important;
    margin-bottom: 25%;
    padding: 10px;
}

.news-para {
    width: auto;
    line-height: 1.3;
    text-align: justify;
}


/*** LOCATION SECTION ***/

.location-section {
    text-align: center;
    background-color: #e6e6e6;
}

.location {
    width: 30%;
    height: auto;
    text-align: center;
    background-color: #555;
    margin-left: 0 0 5% 10%;
    padding: 10px;
}

.location-map {
    margin-bottom: 20px;
    display: inline-block;
}

.location-text-center {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.location-text-center i {
    margin-bottom: 10px;
}

.location:first-child {
    text-align: left;
}

.location:last-child {
    text-align: right;
    float: right;
}

.ljubuski {
    margin-right: 10%;
}

.sarajevo {
    margin-left: 10% !important;
}

.header-loc,
.header-locTwo {
    display: none;
}


/*** CONTACT FORM SECTION ***/

.contact-section {
    text-align: center;
    background-color: #fff;
    padding-bottom: 50px;
}

.contact-heading {
    color: #000;
    margin-top: 100px;
    margin-bottom: 80px;
}

.contact-form {
    text-align: left;
    width: 60%;
    margin: 0 auto;
    color: #555;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
}

textarea {
    height: 100px;
}

*:focus {
    outline: none;
}


/*** FOOTER ***/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
    color: #888;
}

.footer-nav {
    float: left;
}

.social-links {
    float: right;
}

.footer-nav li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    color: #888;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #fff;
}

.social-links li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.fa-facebook,
.fa-google-plus-g,
.fa-instagram-square {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-google-plus-g:hover {
    color: #dd4b39;
}

.fa-instagram-square:hover {
    color: #517fa4;
}

footer p,
footer span a {
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
    text-decoration: none;
    color: #888;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

footer span a:hover {
    color: #fff;
}


/*** SUCCESS PAGE ***/

.success-section {
    width: 45%;
    top: 20%;
    margin-left: 25%;
    position: relative;
    background-color: #555;
    color: #fff;
}

.success-heading {
    margin: 20px 0 0 0 !important;
    color: #fff;
}

.success-message {
    position: relative;
    margin-bottom: 30px;
}

.success-para {
    margin: 3em 0 3em 0;
}

.success-footer {
    position: relative;
    top: 57%;
    background: transparent;
    color: #000;
    font-weight: 500;
}